<!doctype html>
<html lang="en" ng-app="rrpApp">
<head>
  <meta charset="utf-8">
  <title>Test App</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
</head>
<body ng-controller="CourseList">


  <ul class="phones">
    <li ng-repeat="course in courses">
      <h2><a href="#/course/{{course.name}}"> {{course.name}} </a></h2>
      <p>
        <b>Course Description: </b>{{course.description}} <br>
        links: <a href="{{course.home}}"> {{course.home}}</a><br>
        <span ng-repeat="tag in course.tags">Tags: {{tag}} </span>


      </p>


    </li>
  </ul>


</body>
</html>
